<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CRC GENERATOR</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/test.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prop.css') }}">
    <body>
        <h1>CRC GENERATOR</h1>
        <form>
            {{ form.hidden_tag() }}
            <p>
                <label for="entryData">Input data</label>
                <br>
                <textarea id="entryData" name="entryData"></textarea>
                <br>
            </p>
            <p>
                {{ form.crcType.label }}
                <br>
                {{ form.crcType }}
            </p>
            <p>
                <button type="button" onclick="hamming()">ENCODE</button>
            </p>
        </form>
        <p>
            <img id="loading" src="{{ url_for('static', filename='img/ajax-loader.gif') }}" hidden=True alt="loader">
            <table id="datatable" hidden=True>
                <tr>
                  <th id="label1">Input data</th>
                </tr>
                <tr>
                  <td id="0"></td>
                </tr>
                <tr>
                    <th>Generated CRC</th>
                  </tr>
                <tr>
                  <td id="1"></td>
                </tr>
                <tr>
                    <th>Generated input + CRC</th>
                  </tr>
                <tr>
                  <td id="2"></td>
                </tr>
                <tr>
                    <th>Hamming(input + CRC)</th>
                  </tr>
                <tr>
                  <td id="3"></td>
              </table>
        </p>
        <p>
          <label for="corBits">Corrupt bits</label>
          <br>
          <textarea id="corBits" name="corruptedBits" placeholder="Enter positions of bits (0, n> to corrupt separatrd by commas"></textarea>
          <br>
          <button type="button" onclick="corrupt()">CORRUPT</button>
          <table hidden=True id="corTable">
            <tr>
              <th id="label1">Corrupted data</th>
            </tr>
            <tr>
              <td id="4"></td>
            </tr>
          </table>
        </p>
    </body>
</html>